body {
    min-width: 1000px;
    background-image: url('./images/background.png');
    font-family: "Arial", sans-serif;
}

main {
    border-top: 8px solid black;
}

.wrapper {
    margin: 37px auto;
    max-width: 975px;
}

.header_wrapper {
    overflow: auto;
}

.logo {
    background-image: url('./images/logo.png');
    background-repeat: no-repeat;
    width: 180px;
    height: 55px;
}

nav {
    float: right;
}

.navigation_menu {
    padding: 15px 25px;
}

.navigation_menu li {
    display: inline;
    padding: 9px;
    font-size: 13px;
    display: inline-block;
}

.navigation_menu li a {
    text-decoration: none;
    color: rgb(60, 60, 60);
}

.navigation_menu li a:hover {
    color: #ae3b44;
}

.logo {
    float: left;
}

.layouts_submenu_content {
    background-color: #212121;
    position: absolute;
    max-width: 145px;
    z-index: 100;
    text-align: left;
    margin-top: 10px;
}

.layouts_submenu_content li {
    padding: 5px;
}

.navigation_menu li:hover .layouts_submenu_content, .dropdown_submenu li:hover .dropdown_inner_submenu, .main_menu li:hover .dropdown_submenu {
    display: block;
    max-height: 350px;
}

.navigation_menu .layouts_submenu_content a {
    padding: 9px 16px;
    display: block;
    color: #fff;
}

main {
    clear: both;
    margin-top: 30px;
}

.news {
    text-align: left;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    max-width: 734px;
    float: right;
}

.news .title {
    font-size: 24px;
    color: rgb(237, 242, 245);
    background-color: #ae3b44;
    float: right;
    width: 200px;
    padding: 20px;
    height: 91px;
}

.news p {
    color: rgb(34, 34, 34);
    line-height: 1.5;
    font-size: 13px;
    background-color: #ae3b44;
    float: right;
    width: 443px;
    height: 91px;
    padding: 20px;
}

.custom_menu {
    width: 250px;
    border: 1px solid #e7e7e7;
    border-top: 0;
    border-bottom: 0;
    font-size: 12px;
    float: left;
}

.custom_menu h2 {
    color: rgb(33, 33, 33);
    line-height: 1.2;
    font-size: 17px;
    background-image: url("./images/line.png");
    height: 33px;
    margin-top: 40px;
    padding-left: 13px;
    padding-top: 6px;
}

.main_menu a {
    display: block;
    text-decoration: none;
    color: rgb(60, 60, 60);
    padding: 15px
}

.custom_menu li {
    border-bottom:  1px solid #e7e7e7;
}

.custom_menu li:active {
    background-color: #ae3b44;
    color: #fff;
}

.custom_menu li a:hover {
    color: #ae3b44;
}

.dropdown_submenu li {
    border-top:  1px solid #e7e7e7;
    border-bottom: 0;
}

.dropdown_submenu, .dropdown_inner_submenu, .layouts_submenu_content  {
    overflow: auto;
    max-height: 0;
}

.dropdown_submenu {
    background-color: #f4f7f8;
}

.dropdown_inner_submenu {
    background-color: #eaeaea;
}

.dropdown_inner_submenu li {
    border-top:  1px solid #d6d6d6;
}

.news_feed_container {
    max-width: 650px;
    float: right;
    position: relative;
    padding: 35px;
}

.news_feed_container p {
    font-size: 12px;
    line-height: 1.5;
    margin-top: 25px;
}

.news_content_image {
    display: block;
    margin: 40px auto 40px auto;

}
