body {
    min-width: 1000px;
    background-image: url('./images/background.png');
    font-family: "Arial", sans-serif;
}

main {
    border-top: 8px solid black;
    overflow: auto;
    margin-top: 30px;
}

.wrapper, .footer_navigation {
    max-width: 975px;
}

.wrapper {
    margin: 37px auto;
}

.header_wrapper {
    overflow: auto;
}

.logo {
    background-image: url('./images/logo.png');
    background-repeat: no-repeat;
    width: 180px;
    height: 55px;
}

.navigation_menu {
    float: right;
}

.navigation_menu {
    padding: 15px 25px;
}

.navigation_menu li {
    padding: 9px;
    font-size: 13px;
    display: inline-block;
}

.navigation_menu li a {
    text-decoration: none;
    color: rgb(60, 60, 60);
}

.navigation_menu li a:hover {
    color: #ae3b44;
}

.logo {
    float: left;
}

.layouts_submenu_content, .layouts_submenu_content_additional {
    background-color: #212121;
    position: absolute;
    max-width: 145px;
    z-index: 100;
    text-align: left;
    margin: 10px 0 0 -50px;
    opacity: 0;
}
    
.layouts_submenu_content_additional {
    right: -148px;
    top: -10px;
}

.layouts_submenu_content:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.menu_arrow::before {
    content: "";
    position: absolute;
    left: 0;
    margin-left: 0px;
    border-width: 4px;
    margin-top: 5px;
    border-style: solid;
    border-color: transparent transparent transparent white;
}

.additional_menu_toggle:before {
    content: "";
    right: 0;
    position: absolute;
    border-width: 4px;
    border-style: solid;
    border-color: transparent transparent transparent black;
    margin: 5px -8px 0 0;
}

.layouts_submenu_content li, .layouts_submenu_content_additional li {
    padding: 2px;
    width: 140px;
    font-size: 12px;
}

.layouts_submenu_content li:hover, .layouts_submenu_content_additional li:hover {
    background-color: #1a1a1a;
}

.navigation_menu li:hover .layouts_submenu_content, .dropdown_submenu li:hover 
.dropdown_inner_submenu, .main_menu li:hover .dropdown_submenu {
    display: block;
    max-height: 350px;
    opacity: 1;
}

.layouts_submenu_content li:hover .layouts_submenu_content_additional {
    opacity: 1;
}

.navigation_menu .layouts_submenu_content a, .navigation_menu  .layouts_submenu_content_additional a {
    padding: 9px 16px;
    display: block;
    color: rgb(156, 160, 162);
}

.navigation_menu .layouts_submenu_content a:hover, .navigation_menu .layouts_submenu_content_additional a:hover{
    color: #fff;
}

.news {
    text-align: left;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    max-width: 734px;
    float: right;
}

.news_feed_container .news_description {
    font-size: 15px;
    font-style: italic;
    color: rgb(156, 160, 162);
    line-height: 1.4;
    border-bottom: 1px solid #e7e7e7;
    padding-bottom: 25px;

}

.news .title {
    font-size: 24px;
    color: rgb(237, 242, 245);
    background-color: #ae3b44;
    float: right;
    width: 200px;
    padding: 20px;
    height: 91px;
}

.news p {
    color: rgb(34, 34, 34);
    line-height: 1.5;
    font-size: 13px;
    background-color: #ae3b44;
    float: right;
    width: 443px;
    height: 91px;
    padding: 20px;
}

.custom_menu {
    width: 250px;
    border: 1px solid #e7e7e7;
    border-top: 0;
    border-bottom: 0;
    font-size: 12px;
    float: left;
}

.custom_menu h2 {
    color: rgb(33, 33, 33);
    line-height: 1.2;
    font-size: 17px;
    background-image: url("./images/line.png");
    height: 33px;
    margin-top: 40px;
    padding-left: 13px;
    padding-top: 6px;
}

.main_menu a {
    display: block;
    text-decoration: none;
    color: rgb(60, 60, 60);
    padding: 15px
}

.custom_menu li {
    border-bottom: 1px solid #e7e7e7;
}

.custom_menu li:active {
    background-color: #ae3b44;
    color: #fff;
}

.custom_menu li a:hover {
    color: #ae3b44;
}

.dropdown_submenu li {
    border-top:  1px solid #e7e7e7;
    border-bottom: 0;
}

.dropdown_submenu, .dropdown_inner_submenu {
    overflow: auto;
    max-height: 0;
}

.dropdown_submenu {
    background-color: #f4f7f8;
}

.dropdown_inner_submenu {
    background-color: #eaeaea;
}

.dropdown_inner_submenu li {
    border-top:  1px solid #d6d6d6;
}

.news_feed {
    overflow: auto;
}

.news_date {
    float: right;
    width: 80px;
    height: 80px;
    background-image: url('./images/date.png');
}

.date_title_container  {
    overflow: auto;
    margin-bottom: 25px;
    border-bottom: 1px solid #e7e7e7;
}

.news_description {
    clear: both;
}

.news_feed_container {
    max-width: 650px;
    float: right;
    padding: 35px 0 35px 35px;
}

.news_feed_container p, span {
    font-size: 12px;
    line-height: 1.5;
}

.news_feed_container p {
    margin-bottom: 25px;
}

.news_content {
    border-bottom: 1px solid #e7e7e7;
}

.news_content_title {
    margin: 20px 0 20px 0;
    font-size: 15px;
    color: #ae3b44;

}

.news_content span {
    display: inherit;
}

.first_paragraph {
    margin-top: 10px;
}

.second_paragraph {
    margin-bottom: 20px;
    
}   

.news_content_image {
    display: block;
    margin: 40px auto 40px auto;

}

.news_title {
    line-height: 1.2;
    text-align: left;
    font-size: 25px;
    width: 500px;
    float: left;
}

.second_news_feed_image {
    float: left;
    margin: 25px 35px 25px 0;
}

.news_stepper a {
    text-decoration: none;
    color: #ae3b44;
    font-size: 15px;
}

.news_stepper li {
    margin-top: 30px;
    display: inline-block;
}

.news_stepper li:hover {
    cursor: url('./images/hand.png'), auto;	
}

.previous_step img {
    margin-right: 20px;
}

.next_step img {
    margin-left: 20px;
}

.previous_step {    
    float: left;
}

.next_step {
    float: right;
}

.clients_section {
    display: inline-flex;
    width: 100%;
    margin-bottom: 40px;
    border-top:  1px solid #e7e7e7;
    padding-top: 20px;
}

.clients_section h3 {
    float: left;
    margin: 20px 0 0 25px;
}

.client_logo_container {
    margin-left: 80px;
}

.client_logo_container img {
    margin-left: 70px;
}

footer {
    width: 100%;
    background-color: #f8f8f8;
    height: 175px;
    border-top: 1px solid #e7e7e7;
    box-shadow: 0 -2px 2px -2px #e7e7e7;
}

footer li {
    font-size: 15px;
}

footer a {
    text-decoration: none;
    color: #a8a8a8;
}

.footer_list, .footer_list_title {
    display: inline-block
}

.footer_navigation {
    margin: 0 auto;
}

.footer_list {
    margin: 60px 60px 0 25px;
}

.footer_list_title {
    margin: 25px 60px 0 25px;
}

.footer_list_title h3 {
    margin-bottom: 25px;
    color: rgba(57, 57, 57, 0.502);
    line-height: 1.2;
    font-size: 14px;
}

.footer_list_title {
    vertical-align: top;
}

.footer_navigation li a, .copyright {
    font-size: 12px;
    color: rgba(57, 57, 57, 0.302);
}

.footer_navigation li {
    margin-bottom: 10px;
}

.fifth_footer_menu li {
    display: inline-block;
}

.fifth_footer_menu li:hover {
    opacity: 0.5;
}